<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title><%= htmlWebpackPlugin.options.title %></title>
<% if (process.env.VUE_APP_REMOTE_URL) { %>
<base href="<%= process.env.VUE_APP_REMOTE_URL %>"/>
<% } %>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
