<script>
if (Object.keys(window).some(k => k.startsWith('wallpaper'))) {
  window.wallpaperProperties = {
    fps: 0,
    language: '',
    clipboard: '',
    taskbar_position: 'bottom',
    taskbar_length: 0
  };
  window.wallpaperPropertyListener = {
    applyGeneralProperties(props) {
      for (const key in props) {
        window.wallpaperProperties[key] = props[key];
      }
    },
    applyUserProperties(props) {
      for (const key in props) {
        window.wallpaperProperties[key] = props[key].value;
      }
    }
  };
}
</script>
