@import "@/styles/element-ui.scss";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  /* 解决element-ui弹窗问题 */
  padding-right: 0px !important;

  .code-font {
    font-family: 'JetBrains Mono', 'PingFang SC', 'monospace' !important;
  }

  :not([class*=icon]) {
    font-family: 'PingFang SC', 'Arial', 'sans-serif';
  }

  ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #041D76, #0D7E7E);

    .loading-background {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: -1;
      background-image: linear-gradient(135deg, #041D76, #0D7E7E);
    }

    h1 {
      color: #F56C6C;
      font-size: min(5vw, 80vh);
    }
  }
}
